*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    position: relative;
    overflow: hidden;
    
}
header div{

    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(232, 229, 228, 0.5);
    width: 300px;
    height: 48px;
    border-radius: 30px;
    position: fixed;
}

header div button:nth-child(-n + 3){ 
    border: 0;
    cursor: pointer;
    background-color:rgba(232, 229, 228, 0) ;
    height: 40px;
    width: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
}
header div button:nth-child(-n + 3) a{ 
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hotbar_active{
    background-color: #ffffff;
}


.blur_header{
    width: 300px;
    height: 48px;
    z-index: -1;
    backdrop-filter: blur(10px);
}
    
.presentation{
    padding: 30px 0 30px 0;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.presentation div:nth-child(1){
    color: black;
    font-size: 71px;
    max-width: 700px;
}

.presentation div span{
    
}

.presentation div:nth-child(2){
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    gap: 10px;
}
.presentation div span:nth-child(n + 2){
    background-color: rgba(232, 229, 228, 0.5);
    border-radius: 100px;
    padding: 8px 12px;

}


#proyect_container{
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 40px 0;
    
}

#proyect_child{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap:20px;
    max-width: 1400px;
    
}
#proyect_child div{
    height: 500px;
    width: 650px;
    background-color: rgba(0,0,0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    
}

#proyect_child div img{
max-width: 100%;
object-fit: cover;
position: relative;
transition: all 0.4s;
overflow: hidden;
}

#proyect_child div img:hover {
    transition: all 0.4s;
    filter: blur(7px) brightness(75%);
    overflow: hidden;

}

.call_work{

    display: flex;
    position: relative;
    width: 100%;
    font-size: 38px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0 40px 0;
    height: 50vh;
}

.end_page_container{
    width: 100%; 
    display: flex;
    font-size: 14px;
}

.end_page{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 40px 65px;
}

.end_page div:nth-child(2){
    display: flex;
    gap: 15px;
    color: #000000;
}

.end_page div:nth-child(2) a{
    color: #000000;
    transition: all 0.3s;
}

.end_page div:nth-child(2) a:hover{
    color: rgba(0,0,0, 0.2);
    transition: all 0.3s;

}

.end_page div:nth-child(1){
    display: flex;
    gap: 10px;
}
.call_work :nth-child(2){
    color: rgba(0, 0, 0, 0.5);
}
.call_work :nth-child(2):hover{
    color: rgba(0, 0, 0, 0.25);
}


.shop{
    width: 100%;
    top: 0;
    height: auto;
    top: 0;
    display: block;
    position: fixed;
}
.shop span{
    background-color: #000000;
}

.fadeup {
    transform: translateY(50px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: .7s;
    transition-timing-function: linear;
   }

.in-view {
    transform: none;
    opacity: 1;
}







